body {
    background-color: wheat;
}

h1, h3 {
    text-shadow: 0 1px 0 #ccc,
                 0 2px 0 #c9c9c9,
                 0 3px 0 #bbb,
                 0 4px 0 #b9b9b9,
                 0 5px 0 #aaa,
                 0 6px 1px rgba(0,0,0,.1),
                 0 0 5px rgba(0,0,0,.1),
                 0 1px 3px rgba(0,0,0,.3),
                 0 3px 5px rgba(0,0,0,.2),
                 0 5px 10px rgba(0,0,0,.25),
                 0 10px 10px rgba(0,0,0,.2),
                 0 20px 20px rgba(0,0,0,.15);
    text-align: center;
    font-size: 5vw;
    color: darkgreen;
    font-family: 'Patrick Hand', cursive;
}

h3 {
    font-size:2vw;
    margin-bottom: 20px;
}

.banner-pics {
    text-align: center;
    margin-bottom: 50px;
    margin-left: 10px;
    margin-right: 10px;
}

.container {
    margin 10px;
}

.row {
    text-align: center;
}

.col-xs-3 {
    padding: 10px;
    border: 3px dotted darkgreen;
    text-align: center;
    color: darkgreen;
    font-family: 'Patrick Hand', cursive;
}